html {
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Myriad Pro", sans-serif;
  --mono-font:       "Myriad Pro", sans-serif;
  --body-font:       "Myriad Pro", sans-serif;
  --navbar-font:     "Myriad Pro", sans-serif;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       35px;    
  --text-color:       #FFF; /* edited */
  --font-weight:      200;
  --text-size:        22px;
  --hover-color:      #0066CC; /* edited */
  --bkgd-color:       #2C2929; /* edited */
  --margin-bottom:    1px
}

.distill-site-header .logo img {
   max-height: 45px;
   width: auto;
   margin-top: 5px;
}

d-article {
grid-template-columns: [screen-start] 1fr [text-start kicker-end] 2% 2% 2% 2% 2% 2% 2% 2% [text-end gutter-start] 2% [middle-end] 2% [page-end gutter-end] 1fr [screen-end];
grid-column-gap: 9%;
}

